.doct_name{
    display: flex;
   justify-content: space-between;
}

.img_doct{
    border-radius: 30px;
}

.index_main_text{
    padding-top: 3%;
    text-align: justify;
}

a{
    text-decoration: none;
    color: black;
}